

<div class="content-container">
  <div class="content">
    <div class="topics">
      <h4>Feeds</h4>
      <ul>
        <% @categories.each do |category| %>
          <li>
            <%= link_to({ controller: 'home', action: 'category', id: category.id }, class: 'category') do %>
              <div class="thumbnail"></div>
              <span class="name"><%= category.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="products-list">
      <h2>
        Today
      </h2>
      <ul>
        <% @products.each do |product| %>
          <li>
            <a class="card" href="#">
              <div class="thumbnail"></div>
              <p class="title"><%= product.title %></p>
              <p class="tagline"><%= product.tagline %></p>
            </a>
            <div class="product-actions">
              <% if product.categories.present? %>
                <div class="action">
                  <%= product.categories.first.name %>
                </div>
              <% end %>
              <div class="upvote">
                <div class="arrow"></div>
                <span class="upvote-count">313</span>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
